.idea/**
.vs/**

# Ignore temporaries from GameCI
/[Aa]rtifacts/
/[Cc]odeCoverage/

/RMC AI/Samples~/RMC AI Sample/Resources/Sample
RMC AI/Samples~/RMC AI Sample/Resources/Sample/ArtificialIntelligenceData.json
RMC AI/Samples~/RMC AI Sample/Resources/Sample/ArtificialIntelligenceData.json.meta
